<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">
  <title>Failure</title>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <!--CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
  <!-- my styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mystyles.css') }}">

</head>

<body>

  <!-- Error message: too many input words -->
  <div class="alert alert-warning alert-custom" role="alert">

    <div class="container">
      <h1 class="display-4">Uh oh!</h1>
      <p class="lead">Too many words were included for the text summariser to handle. Please try fewer words!</p>
      <form action="/summariser">
        <button class="btn btn-lg btn-warning" type="submit">Try Again</button>
      </form>
    </div>

  </div>

</body>

</html>