/*Global*/

body {
  font-family: 'Montserrat', sans-serif;
  }
  
/* Navigation Bar*/

.main-icon{
  width: 50px;
  height: auto;
  position: relative;
  bottom: 10px;
  position: fixed;
  top: 20px;
  left: 35px;
 }
 
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	height: 100px;
	background-color: #222426;
}

nav a{
	float: left;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
  color: #fff;
}

nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav .links li {
	list-style: none;
}

nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
  text-decoration: none;
}

.nav-heading:hover {
  border-bottom: 3px solid #15b327;
}

.active {
  border-bottom: 3px solid #15b327;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}

nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
	nav {
		float: none;
		width: auto;
		justify-content: center;
  }
  
nav .links {
  float: none;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 100%;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,.8);
  overflow: hidden;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
  }
  
nav .links a {
  font-size: 20px;
}

nav :checked ~ .links {
  bottom: 0;
}

nav .icon-burger {
  display: block;
}

nav :checked ~ .icon-burger .line:nth-child(1) {
  transform: translateY(10px) rotate(225deg);
}

nav :checked ~ .icon-burger .line:nth-child(3) {
  transform: translateY(-10px) rotate(-225deg);
}

nav :checked ~ .icon-burger .line:nth-child(2) {
  opacity: 0;
}}


/*Homepage*/

body.homepage {
  background: #222426;
}

.div-homepage-main{
  position: relative;
  top: 150px;
}

.div-homepage-right{
  text-align: center;
  color: #888;
  transform:scale(1);
}

.div-homepage-headings{
  color: #fff;
  padding-bottom: 150px;
}  

.div-text-data{
  text-align:center;
  color: #888;
}

.div-machine-learning{
  max-height: 200px;
}

.div-homepage-right-small-outer{
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

.div-homepage-right-small-inner{
  display: inline-block;
  margin: 0 auto;
}

.homepage-h1, .homepage-h2{
position: relative;
padding-left: 25px;
}

.homepage-h1 { 
    font-size: 2.5rem; 
    margin-bottom: 100px;
    width: 100%;
}

.homepage-h2 {
  color: #fff;
  font-size: 2em;
  position: absolute;
  width: 90%;
}

.txt-rotate{
    color: #15b327;
}

.other-icon{
  padding: 20px;
  width: 100px;
  height: auto;
}

.sentiment-icon{
  width: 130px;
  height: auto;
  margin-bottom: -20px;
}

.icon-links, .icon-links:hover{
  color: #888;
  text-decoration: none !important;
}

.arrow-paragraph{
  font-size: 5rem;
  max-height: 70px;
  position: relative;
  bottom: 50px;
  margin-bottom: -30px;
}

.nlp-icon-text{
  width: 90%;
  margin: auto;
}
   
/*Demo pages styles*/

.section-header{
  padding-top: 50px;
}

.hightlighted-heading-words{
  color:#15b327;
  font-size: 45px;
}
  
.demo-headings{
  text-align: center; 

}

#demo-section{
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 300%;  
  background: #222426; 
  color : #fff;  
}

.div-demo{
  padding-top: 40px;
  padding-bottom: 20px;
}

.div-input-text-box{
  padding-bottom: 30px;
}

.demo-helper-text{
  font-size: 1.5em;
  line-height: 1.5em;
}

.form-control{
  font-size: 1.3em;
  color: #080808;
}
  
textarea.form-control {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 250px;
  resize: none;
}
  
.submit{
  position: relative;
  right: 15px;
  font-size: 1.2em;
  float: right;
  width: 150px;
  background-color: #15b327;
  color: #fff;
  border: none;
}

.number-box{
  text-align: center; 
  font-size: 1.2rem;
  width: 40px;
  height: 30px;
  color: #080808;
}

.text-label{
  line-height: 3em;
  font-size: 12px;
}


/* Page loading spinner */
.spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }

}


/*Error pages styles*/
.alert-custom{
  border: none;
  border-radius: 0;
  padding-bottom: 20px;
}

































